.boxes.scrolling {
	position: fixed;
	top: 42px;
	padding: @baseline;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 10;
	text-align: center;
}

.boxes-placeholder {
	height: 100px;
}

.box {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	color: white;
	border: 1px solid transparent;
	background: #00aeef;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 10px 10px 30px;
	width: 140px;
	text-align: center;
	vertical-align: top;
	white-space: normal;
	overflow: hidden;
	cursor: pointer;
}
.box.large {
	width: 290px;
}

.dragging .box {
	box-shadow: 1px 1px 5px @accent_color;
}

.box.active {
	border: 1px solid #00aeef;
	background-color: white;
	color: #00aeef;
}

.editable-box {
	margin: 10px;
	display: inline-block;
	position: relative;
}

.editable-box img {
	position: absolute;
	display: block;
	left: 1px;
	top: 1px;
	z-index: 10;
	width: 15px!important;
	height: 15px!important;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.corner {
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 31px 31px 0 0;
		border-color: white transparent transparent transparent;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 30px 30px 0 0;
		border-color: gray transparent transparent transparent;
	}
	&.red:after {
		border-color: #ff0f0f transparent transparent transparent;
	}
	&.dark-red:after {
		border-color: #AA0000 transparent transparent transparent;
	}
	&.brown:after {
		border-color: #a97700 transparent transparent transparent;
	}
	&.orange:after {
		border-color: #f9b600 transparent transparent transparent;
	}
	&.yellow:after {
		border-color: #f1ff05 transparent transparent transparent;
	}
	&.base-blue:after {
		border-color: #27AAE1 transparent transparent transparent;
	}
	&.light-blue:after {
		border-color: #00e4c6 transparent transparent transparent;
	}
	&.blue:after {
		border-color: #005eff transparent transparent transparent;
	}
	&.light-green:after {
		border-color: #34f400 transparent transparent transparent;
	}
	&.green:after {
		border-color: #39B54A transparent transparent transparent;
	}
	&.purple:after {
		border-color: #a300f9 transparent transparent transparent;
	}
	&.pink:after {
		border-color: #ff54b3 transparent transparent transparent;
	}
	&.light-pink:after {
		border-color: #ffb4d3 transparent transparent transparent;
	}
}

.colors {
	display: inline-block;
	text-align: right;
	width: 426px;
	span {
		display: inline-block;
		margin: 0 5px;
		width: 20px;
		height: 40px;
		&.active {
			width: 16px;
			height: 36px;
			border: 2px solid @accent_color;
		}
		&:last-child {
			margin-right: 0;
		}
		&.red {
			background-color: #ff0f0f;
		}
		&.dark-red {
			background-color: #aa0000;
		}
		&.brown {
			background-color: #a97700;
		}
		&.orange {
			background-color: #f9b600;
		}
		&.yellow {
			background-color: #f1ff05;
		}
		&.base-blue {
			background-color: #27AAE1;
		}
		&.light-blue {
			background-color: #00e4c6;
		}
		&.blue {
			background-color: #005eff;
		}
		&.light-green {
			background-color: #34f400;
		}
		&.green {
			background-color: #39B54A;
		}
		&.purple {
			background-color: #a300f9;
		}
		&.pink {
			background-color: #ff54b3;
		}
		&.light-pink {
			background-color: #ffb4d3;
		}
	}
}

.profile {
	.box {
		margin: 5px;
		&:nth-child(4) {
			margin-right: 0;
		}
		&:nth-child(4n+1) {
			margin-left: 9px;
		}
	}
	.boxes.center {
		text-align: center;
	}
	.boxes .options {
		font-size: 18px;
		text-align: center;
	}
	.scrolling .box:nth-child(4) {
		margin-right: 5px;
	}
	.scrolling .box:nth-child(4n+1) {
		margin-left: 5px;
	}
}

.draggable-products {
	.product-item:hover {
		box-shadow: 1px 1px 5px @accent_color;
	}
}