@import "variables.less";

.form-checkbox {
  padding: 5px;
  box-sizing: border-box;

  &.half {
	width: 50%;
	float: left;
  }
}
input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label {
  line-height: 27px;
  vertical-align:middle;
  font-size: 27px;
  color: @accent_color;
}
input[type="checkbox"] + label span {
  display:inline-block;
  width:23px;
  height:23px;
  margin:-3px 4px 0 0;
  vertical-align:middle;
  border: 2px solid @accent_color;
  cursor:pointer;
}
input[type="checkbox"]:checked + label span {
  background:url("/images/x.png") 0px 0px no-repeat;
}
input.small[type="checkbox"] + label {
  line-height: 22px;
  vertical-align:middle;
  font-size: 18px;
  color: @accent_color;
}
input.small[type="checkbox"] + label span {
  display:inline-block;
  box-sizing: border-box;
  width:18px;
  height:18px;
  margin:-1px 2px 0 0;
  vertical-align:middle;
  border: 2px solid @accent_color;
  cursor: pointer;
}
input.small[type="checkbox"]:checked + label span {
  background:url("/images/x-small.png") -1px -1px no-repeat;
}

input.small.filled[type="checkbox"] + label span {
  background-color: white;
}

input.small.filled[type="checkbox"]:checked + label span {
  background:white url("/images/x-small.png") -1px -1px no-repeat;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  box-sizing: border-box;
  border: 1px solid @accent_color;
  background: white;
  padding: @baseline*0.2 @baseline*0.5;
  font-size: @baseline*0.6;
  line-height: @baseline*0.7;
  margin:0;
  color: black;
  display: block;
  width: 100%;

  &.half {
	width: 50%;
  }
}

input[type="text"] {
  height: @baseline*2.2;
}
textarea {
  height: @baseline*5.8;
}

.input-group {
  &:after {
	content:"";
	display:table;
	clear:both;
  }
  input, button {
	box-sizing: border-box;
	float: left;
	display: inline;
  }
  input {
	width: 75%;
  }
  button {
	width: 25%;
  }

  &.big {
	input {
	  padding: @baseline*0.5 @baseline;
	  font-size: @baseline;
	  line-height: @baseline*1.2;
	}
	button {
	  padding: @baseline*0.5 @baseline;
	  font-size: @baseline;
	  line-height: @baseline*1.2;
	}
  }
}

label {
  display: block;
  color: @accent_color;
  font-size: 27px;
  line-height: 30px;
}

.inline-field {
  padding: @baseline/2;

  &:after {
    content:"";
    display:table;
    clear:both;
  }
  input, label {
    box-sizing: border-box;
    float: left;
    display: inline;
	height: 38px;
	font-size: @baseline;
	line-height: @baseline * 1.4;
	padding: 5px;
  }
  input {
    width: 75%;
  }
  label {
    width: 25%;
	background-color: @accent_color;
	color: white;
  }
}

input.ng-invalid {
}

.add-product-form {
  label {
    font-size: 18px;
    line-height: 21px;
  }
  input {
    box-sizing: border-box;
    height: 28px;
    font-size: 14px;
    line-height: 18px;
    padding: 4px;
  }
}